#top_level {
    padding:10px;
    width: 100%;
    background-color:#36393F;
    border-radius: 3px;
    display:inline-block;
}

#Chat_user {
    font-weight: bold;
    padding-bottom: 10px;
}

#Chat_message {
    padding-bottom: 10px;
}

::placeholder {
   color: #C7C8CA;
   opacity: .5;
}

#top_level_chat input {
    width: 382px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #222428;
    background-color: #707070;
    outline: white;
    caret-color: white;
    color: #C7C8CA;
    font-size: 16px;
    padding-left: 10px;
    transition: border .2s;
 }
