 #root {
    overflow-y: hidden;
}

/* #html::-webkit-scrollbar {
    display: none;
}
#server-page-container {
    display:flex;
    overflow-y: hidden scroll;
}  */

.server-page {
    display: grid;
    grid-template-columns: 52px 80px 120px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* sizing for navbar may be off due to grid size being larger
    than the chat and server name bar */
    grid-template-rows: 50px 200px 200px 200px 200px 100px;
    grid-template-areas:
    "name name name channel-name channel-name channel-name channel-name channel-name channel-name options options"
    "channels channels channels chat chat chat chat chat chat chat chat"
    "channels channels channels chat chat chat chat chat chat chat chat"
    "channels channels channels chat chat chat chat chat chat chat chat"
    "channels channels channels chat chat chat chat chat chat chat chat"
    "channels channels channels chat chat chat chat chat chat chat chat";

}

.name {
    padding-left: 10px;
    padding-top: 15px;
    background-color: #2b3352;
    grid-area: name;
    color: #dcddde;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid black;
    box-shadow: rgba(4, 4, 5, 0.2) 0px 1px 0px;
    transition: background-color ease 0.1s;
    color: #dcddde;
    background-color: #2e3236;
}

.name:hover {
    background-color: #3b4770;
}

.categories {
    background-color: #2F3136;
    grid-area: channels;
    height: 100%;
    padding-top: 20px;
    overflow-y: hidden scroll;
}
/*
.categories::-webkit-scrollbar {
    background-color: #2F3136;
    width: 5px;
} */

.categories li {
    list-style-image: url("../../images/1247106.png");

}

#category {
    padding-left: 15px;
}

.chat-div {
    background-color: #32353a;
    grid-area: chat;
    width: 100%;
    height: 100%;
    color: #dcddde;
    overflow-y: hidden scroll;
}

.channel {
    color: #8e9296;
    font-size: 12px;
    font-weight: 500;
}

li.channel {
    font-size: 14px;
}

.text-channels {
    padding-left: 25px;
    padding-bottom: 10px;
}

.text-channels:hover {
    background-color: #393c42;
}

li.channel:hover {
    color: white;
}

.channel-name {
    display: inline-block;
    background-color: #32353a;
    grid-area: channel-name;
    border-bottom: 1px solid rgb(16, 16, 16);
    box-shadow: rgba(4, 4, 5, 0.2) 0px 1px 0px;
    padding-left: 20px;
    padding-top: 5px;
}

.channel-text {
    margin-bottom: 30px;
    color: #dcddde;
    padding-left: 10px;
}

.hash {
    content:url("../../images/hash.png");
}

.options {
    grid-area: options;
    background-color: #32353a;
    border-bottom: 1px solid rgb(16, 16, 16);
    box-shadow: rgba(4, 4, 5, 0.2) 0px 1px 0px;
}

.chat-div {
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
}

.chat-div::-webkit-scrollbar {
    background-color: #32353a;
}
/* #top_level_chat {
    position: relative;
} */

#top_level {
    height: 90%;
    grid-area: chat;
    width: 1500px;
    overflow-wrap: normal;
}

#top_level_chat {
    position: fixed;
    bottom: 0;
    left: 3;
}
