/* TODO Add site wide styles */
* {
    font-family: Helvetica Neue ,Helvetica ,Arial ,sans-serif;
}
    font-family: Helvetica Neue ,Helvetica ,Arial ,sans-serif;
}

main {
    width: calc(100vw - 81px)
}
