#modal-devs {
    width: 50%;
    height: 45%;
    background-color: rgb(226, 224, 224);
    margin: auto;
    margin-top: 21vh;
    border-radius: 5px;
    outline: none;
    padding: 2px;
    text-align: center;
}

.about_span {
    cursor: pointer;
    color: whitesmoke;
    font-size: 2em;
}

.developer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.developer-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.developer-name {
    font-weight: bold;
    font-size: 1em;
}

.dev_link {
    color: black;
    text-decoration: none;
}

.dev_link:hover {
    color: blue;
}

.project_repo-link {
    font-size: 3em;
    color: black;
}

.project_repo-link:hover {
    color: blue;
}
