body {
   margin: 0px;
}

#discover--container {
   display: flex;
   width:100%;
}

#discover__sidebar {
   position: sticky;
   padding-right: 137px;
   background-color: #2F3136;
   top: 0px;
   height: 100vh;
}

#discover__sidebar--title {
   font-size: 24px;
   margin:0px;
   margin-top:16px;
   margin-left:15px;
   color:white;
}

#discover {
   overflow-x: hidden;
   background-color: #36393F;
   width:100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;

}

#discover__svg--container {
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45vh;
}

#discover__servers {
   display: grid;
   grid-gap: 5px;
   grid-template-columns: repeat(auto-fit, 300px);
   grid-template-rows: repeat(auto-fill, 350px);
   justify-content: center;
   height: 55vh;
}

#discover__svg--title {
   /* position: absolute; */
   /* top: 130px; */
   color: white;
}

#discover--svg {
   background-image: url("../../images/3e0acf6d69894a5d20deb7c513cd1412.svg");
   width: 1064px;
   height: 332px;
   margin: 15px 30px;
   border-radius: 8px;
   background-repeat: no-repeat;
   object-fit: contain;
   display: flex;
   justify-content: center;
   align-items: center;
}

.server__container {
   width: 282px;
   height: 320px;
   border-radius: 8px;
   margin:15px;
   background-color: #292B2F;
}

.server__container--img img {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   width: 282px;
   height: 143px;
   object-fit: cover;
}

.server__container--title {
   color: white;
   font-size: 16px;
   margin-top: 4px;
   margin-left: 8px;
}

.server__container--button {
   margin-top: 118px;
   margin-left: 230px;
   color: white;
   background-color: #36393F;
   border: none;
   border-radius: 4px;
   border: 1px solid #242424;
   padding: 3px 10px;
   transition: border .2s;
   /* transition: background-color .1s; */
}

.server__container--button:hover {
   border-color: black;
}

.server__container--button:active {
   background-color: #494c53;
}

/* #login__form input:hover {
   border: 1px solid black;
}

#login__form input:focus {
   border: 1px solid #00B0F4;
} */


/* The About btn */
.about-btn {
   background-color: rgb(100, 99, 99);
   border-radius: 5px;
   position: fixed;
   right:    30px;
   bottom:   10px;
}
