* {
color: black
}

#root {
    display: flex;
    /* overflow-x: hidden; */
 }

/* width */
::-webkit-scrollbar {
    width: 9px;
  }

/* Track */
::-webkit-scrollbar-track {
    background: #2E3338;
    /* border-radius: 5px; */
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202225; 
    border-radius: 5px;
  }

::-webkit-scrollbar-track-piece {
    background-color: #2E3338;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #36393F;
}

.navbar {
    background-color: #202225;
    top:0px;
    height: 100vh;
    width:72px;
    position: sticky;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.server-list {
    display: flex;
    margin: 0px;
    flex-direction: column;
    width:72px;
    /* left: 0; */
    list-style: none;
    padding: 0;
    /* padding-bottom: 100px; */
    height: 100%;
    align-items: center;
}

.server-list li {
    justify-content: center;
    display: flex;
    margin: 4px 0px;
}

.user_server-img {
    height: 48px;
    width: 48px;
    border-radius: 25px;
    transition: border-radius 0.2s;
}

.user_server-img:hover {
    border-radius: 12px;
}

#discord__img__container {
    border-radius: 25px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36393F;
}

#discord__img {
    height: 20px;
    width: 40px;
    content:url("../../images/icon_clyde_white_RGB.svg");
}

#home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

#home__border {
    height:2px;
    width: 32px;
    background-color: #36393F;
    margin: 4px 0px;
    border-radius: 3px;
}

.create-button {
    width: 48px;
    height: 48px;
    background-color: #36393F;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius .2s, background-color .2s;
}

.create-button:hover {
    border-radius: 12px;
    background-color: #3BA55C;
}

.create-button svg {
    margin-top: 3px;
    border-radius: 25px;
}

.explore-button {
    width: 48px;
    height: 48px;
    background-color: #36393F;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius .2s, background-color .2s;
}

.explore-button:hover {
    border-radius: 12px;
    background-color: #3BA55C;
}

.explore-button svg {
    margin-top: 3px;
    border-radius: 25px;
}

/* 
.title-bubble {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.title-bubble .title-bubble-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.title-bubble:hover .title-bubble-text {
    visibility: visible;
} */